<!DOCTYPE html>
<html>
  <head>
    <title>FormResponse</title>
  </head>
  <body>
    <h1>Form Response</h1>
    <b>Exibit Chosen:</b> <%= h(exibit) %><br>
    <b>Percentage Entered:</b> <%= h(percentage) %><br>
    <b>Plan Chosen:</b> <%= h(options) %><br>
    <b>Bio Entered:</b> <%= h(entertext) %><br>
    <b>Choices</b> <%= h(choices) %><br>
    <b>Password Entered</b> <%= h(password) %><br>
  </form>
</body>
</html>
